/*body {*/
/*background: #EEE;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*!* Navigation *!*/

/*.navigation {*/
/*box-sizing: border-box;*/
/*background-color: #3587A4;*/
/*overflow: auto;*/
/*padding: 18px 50px;*/
/*position: relative;*/
/*top: 0;*/
/*width: 100%;*/
/*z-index: 999;*/
/*}*/

/*ul {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

/*li {*/
/*color: #FFF;*/
/*display: inline-block;*/
/*font-family: 'Oxygen', sans-serif;*/
/*font-size: 16px;*/
/*font-weight: 300;*/
/*letter-spacing: 2px;*/
/*margin: 0;*/
/*padding: 20px 18px 10px 18px;*/
/*text-transform: uppercase;*/
/*}*/

/*.active {*/
/*color: #88CCF1;*/
/*}*/

/*!* Table *!*/

/*table {*/
/*height: 40%;*/
/*left: 10%;*/
/*margin: 20px auto;*/
/*overflow-y: scroll;*/
/*position: static;*/
/*width: 80%;*/
/*}*/

/*thead th {*/
/*background: #88CCF1;*/
/*color: #FFF;*/
/*font-family: 'Lato', sans-serif;*/
/*font-size: 18px;*/
/*font-weight: 100;*/
/*letter-spacing: 2px;*/
/*text-transform: uppercase;*/
/*}*/

/*tr {*/
/*background: #f4f7f8;*/
/*border-bottom: 1px solid #FFF;*/
/*margin-bottom: 5px;*/
/*}*/

/*th, td {*/
/*font-family: 'Lato', sans-serif;*/
/*font-weight: 400;*/
/*font-size: 18px;*/
/*padding: 20px;*/
/*text-align: left;*/
/*width: 33.3333%;*/
/*}*/

html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    min-height: 100%;

    background: #EEE;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Navigation */

.navigation {
    box-sizing: border-box;
    background-color: #3587A4;
    overflow: auto;
    padding: 18px 50px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 20px 18px 10px 18px;
    text-transform: uppercase;
}

.li-null-padding {
    padding-top: 0px;
}


a {
    text-decoration: none;
}

a:hover {
    background-color: #3587A4;
}


a:active {
    color: #88CCF1;
}

/* Table */

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    padding-bottom: 50px;
    overflow-y: scroll;
    position: static;
    width: 80%;
}

thead th {
    background: #88CCF1;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
}

tfoot td {
    /*background: #88CCF1;*/
    color: #649abc;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
}

tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
}

th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
}

/* Footer*/

footer {

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    /*!*padding: 5px;*!*/
    /*!*margin: 2px;*!*/
    /*background-color: #efefef;*/

    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    padding: 1rem;
    /*text-align: center;*/
}

hr {
    display: block;
    height: 1px;
    border-top: 1px solid #3587A4;
    /*margin: 1em;*/
    /*padding: 0;*/
}

/* My styles*/

/*it works dont change*/
/*input {*/
/*text-align: center;*/
/*}*/

/*label {*/
/*display: inline-block;*/
/*width: 140px;*/
/*text-align: right;*/
/*}​*/

/*input {*/
/*margin-top: 5px;*/
/*margin-bottom: 5px;*/
/*display:inline-block;*/
/**display: inline;     !* for IE7*!*/
/*zoom:1;              !* for IE7*!*/
/*vertical-align:middle;*/
/*margin-left:20px*/
/*}*/

/*label {*/
/*display:inline-block;*/
/**display: inline;     !* for IE7*!*/
/*zoom:1;              !* for IE7*!*/
/*float: left;*/
/*padding-top: 5px;*/
/*text-align: right;*/
/*width: 140px;*/
/*}*/

/*class in forms, it works, dont touch!*/

/*class in forms, it works, dont touch!*/

/*.radio {*/
/*display: block;*/
/*min-height: 20px;*/
/*margin-top: 10px;*/
/*margin-bottom: 10px;*/
/*}*/

/*class in forms, it works, dont touch!*/
fieldset {
    margin: auto;
    width: 50%;
    border: 1px #3587A4 solid;
    padding: 10px;
    /*vertical-align: middle;*/
}

.form-element label {
    display: inline-block;
    text-align: right;
    width: 150px;
}

.form-element input {
    display: inline-block;
    text-align: center;
    margin-right: 150px;
    width: 172px;
}

.form-element select {
    width: 172px;
    text-align-last: center;
    margin-right: 150px
}

.form-element textarea {
    width: 172px;
    margin-right: 150px
}

.textarea-center {
    position: relative;
    bottom: 49px;
}

/*.form-element input, select {*/
/*-webkit-box-sizing: border-box;*/
/*-moz-box-sizing: border-box;*/
/*box-sizing: border-box;*/
/*}*/

/*class in forms, it works, dont touch!*/
legend {
    text-align: center;
}

/*class from menu, it works, dont touch!*/
.center {
    text-align: center;
    margin: auto;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}

/*#anchor{*/
/*position: relative;*/
/*padding-top: 100px; //(whatever distance from the top of the page you want)*/
/*}*/

.anchor {
    display: block;
    height: 200px; /*same height as header*/
    margin-top: -200px; /*same height as header*/
    visibility: hidden;
}

/*table.table-admin {*/
/*height: 40%;*/
/*left: 10%;*/
/*margin: 20px auto;*/
/*padding-bottom: 100px;*/
/*overflow-y: scroll;*/
/*position: static;*/
/*width: 80%;*/
/*}*/

/*table.table-admin thead th {*/
/*background: #88CCF1;*/
/*color: #FFF;*/
/*font-family: 'Lato', sans-serif;*/
/*font-size: 16px;*/
/*font-weight: 100;*/
/*letter-spacing: 2px;*/
/*text-transform: uppercase;*/
/*}*/

/*table.table-admin  tr {*/
/*background: #f4f7f8;*/
/*border-bottom: 1px solid #FFF;*/
/*margin-bottom: 5px;*/
/*}*/

/*table.table-admin  th, td {*/
/*font-family: 'Lato', sans-serif;*/
/*font-weight: 400;*/
/*font-size: 14px;*/
/*padding: 20px;*/
/*text-align: left;*/
/*width: 33.3333%;*/
/*}*/

/*.line {*/
/*display: inline-block;*/
/*}*/

/*div.inline { float:left; }*/

/*RATING STARS*/

.rating {
    float: left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
}

.rating:not(:checked) > label {
    float: right;
    width: 1em;
    padding: 0 .1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 200%;
    line-height: 1.2;
    color: #ddd;
    text-shadow: 1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow: 1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.rating > label:active {
    position: relative;
    top: 2px;
    left: 2px;
}

.review {
    width: 150px;
    height: 100px;
}